.uk-notification-message {
  font-size: 0.95em !important;
  line-height: 1.4 !important;
  text-align: center;
}

.uk-notification-close {
  right: 4px !important;
}

.lowcase {
  text-transform: none !important;
}

.logo {
  margin: 1em;
  width: 3em;
}

.logo img {
  border-radius: 60px;
}

.text-center {
  text-align: center;
}
