.uk-notification-message {
  font-size: 0.95em !important;
  line-height: 1.4 !important;
  text-align: center;
}

.uk-notification-close {
  right: 4px !important;
}

.uk-container-special {
  margin-top: 2em !important;
}

.uk-input-special-width {
  width: 21.5rem !important;
}

.lowcase {
  text-transform: none !important;
}

.logo {
  margin: 1em;
  width: 3em;
}

.logo img {
  border-radius: 60px;
}

.text-center {
  text-align: center;
}

.button-margin-right {
  margin-right: 1em !important;
}

.avatar {
  border-radius: 50%;
}

.uk-dropdown {
  min-width: 100px !important;
  padding: 18px !important;
  top: 20px !important;
  left: 480px !important;
}
