.uk-notification-message {
  font-size: 0.95em !important;
  line-height: 1.4 !important;
  text-align: center;
}

.uk-notification-close {
  right: 4px !important;
}

.uk-container-special {
  margin-top: 2em !important;
}

.uk-input-special-width {
  width: 21.5rem !important;
}

.lowcase {
  text-transform: none !important;
}

.logo {
  margin: 1em;
  width: 3em;
}

.logo img {
  border-radius: 60px;
}

.text-center {
  text-align: center;
}

.button-margin-right {
  margin-right: 1em !important;
}

.avatar {
  border-radius: 50%;
}

.uk-dropdown {
  min-width: 100px !important;
  padding: 18px !important;
  top: 20px !important;
  left: 480px !important;
}

.personal-icon {
  width: 24x;
  height: 24px;
}

.custom-gray-color-div {
  background-color: #f8f8f8;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.control-button {
  padding: 0 10px !important;
  margin: 0 7px !important;
}

.uk-input:disabled.control-input {
  background-color: white !important;
}

.container-overflowed {
  height: 300px;
  overflow: scroll;
}

.marked-border {
  border: 1px solid #7d8d9c;

  padding: 8px 10px 12px 10px !important;
}

.uk-table {
  border: 1px solid #e5e5e5 !important;
}

.uk-table-justify td:first-child,
.uk-table-justify th:first-child {
  padding-left: 10px !important;
}

.uk-table-justify td:last-child,
.uk-table-justify th:last-child {
  padding-right: 10px !important;
}
